
<div class="one wide column">
    {{#if email}}
        {{#unless emailLast30}}
            {{#unless statusCurrent}}
                {{#unless clientProfile}}
                    <div class="center-vertical-wrap">
                        <div class="center-vertical">
                            <div class="ui checkbox">
                                <input type="checkbox" name="email" value='{"email": "{{this.email}}", "id":"{{this.id}}", "fn":"{{this.firstName}}"}'>
                                <label></label>
                            </div>
                        </div>
                    </div>
                {{/unless}}
            {{/unless}}
        {{/unless}}
    {{/if}}
</div>

<div class="column two wide picture">
    <div class="center-vertical-wrap">
        <div class="center-vertical">
            <a href="/candidate/{{id}}">
                <img class="ui small circular image color {{stageToCss idStage}}" src="{{picture}}" onerror="this.src='/assets/img/client-logo.png'"/>
            </a>
        </div>
    </div>
</div>


<div class="four wide column">
    <p><b>{{fullname}}</b></p>
    <p>{{headline}}</p>
    <p><b>{{current}}</b></p>
    <p>{{location}}</p>
</div>

<div class="two wide column candidate-details {{stageToCss idStage}}">
    <p class="{{presenceToCss cvDoumentLink}}">CV</p>
    <p class="{{presenceToCss contacts.email}}">Email</p>
    <p class="{{presenceToCss contacts.phone}}">Phone</p>
    <p class="{{presenceToCss salary}}">Salary</p>
</div>

<div class="two wide column candidate-details {{stageToCss idStage}}">
    <p class="{{presenceToCss cvDoumentLink}}">
        {{#if cvDoumentLink}}
            <i class="checkmark icon"></i>
        {{else}}
            <i class="remove icon"></i>
        {{/if}}
    </p>
    <p class="{{presenceToCss contacts.email}}">
        {{#if contacts.email}}
            <i class="checkmark icon"></i>
        {{else}}
            <i class="remove icon"></i>
        {{/if}}
    </p>
    <p class="{{presenceToCss contacts.phone}}">
        {{#if contacts.phone}}
            <i class="checkmark icon"></i>
        {{else}}
            <i class="remove icon"></i>
        {{/if}}
    </p>
    <p class="{{presenceToCss salary}}">
        {{#if info.sexpected}}
            <i class="checkmark icon"></i>
        {{else}}
            <i class="remove icon"></i>
        {{/if}}
    </p>
</div>

<div class="five wide column candidate-status">
    
    <p>
    Connected To:
    {{# if connectedTo.length }}
    {{#each connectedTo}}
            {{#if this}}
                <a href="/connected/{{encodeKeywordsHelper this}}"><b>{{initials_of_connected_users this}}</b></a>
            {{/if}}
    {{/each}}

    {{/if}}
    </p>

        <p class="stages">Status:
        {{#if statusCurrent.length}}
            {{#each statusCurrent}}
                {{generateStatus this ../clients ../stages}}<span class="comma">,</span>
            {{/each}}
        {{/if}}
        {{#if clientProfile}}
            <span class="client-employee">Client Employee</span>
        {{/if}}
        {{#unless clientProfile}}
            {{#unless statusCurrent.length}}
                N/A
            {{/unless}}
        {{/unless}}
        </p>

    


    <!-- @TODO get some more details here -->
        <p class="email-preview">Last Contacted:
            {{#if lastEmail.sentAt}}

            <a href="" id="{{lastEmail.uuid}}"> {{lastEmail.sentAt}}</a>

            {{else}}
                N/A
            {{/if}}

        </p>

    <!--
    {{#each listSkills}}
        <ul class="skills-inline">
            {{#if this.level}}
                <li class="searched-skills"><span class="skill-level">{{this.level}} </span> {{this.skill}}</li>
            {{else}}
                <li>{{this.skill}}</li>
            {{/if}}
        </ul>
    {{/each}}
    -->
    <!--
    @TODO: Get username and some details here
    {{#if viewedBy.length}}
        <p class="">{{viewedBy.length}}</p>
    {{/if}}
    -->
    <!-- hide it for now, I don't think it's a valuable information to display anyway -->
    <!--
    <aside class="aside aside-2">
        {{#if percentageMatch}}
            <div class="pie">{{percentageMatch}}%</div>
        {{/if}}
    </aside>
    -->

</div>

        {{#if lastEmail.sentAt}}
            <div class="ui modal email {{lastEmail.uuid}}">
                <i class="close icon"></i>
                <div class="header">
                {{lastEmail.subject}}
                </div>
                <div class="content">
                <p class="message">
                {{lastEmail.message}}
                </p>
                <p class="sender">{{lastEmail.senderName}}</p>
                <p class="sent-at">{{lastEmail.sentAt}}</p>
                </div>
                <div class="actions">
                    <!-- if any actions put them here -->
                </div>
            </div>
        {{/if}}


