
<div class="one wide column">
    {{#if email}}
        {{#unless emailLast30}}
            {{#unless statusCurrent}}
                {{#unless clientProfile}}
                    <div class="center-vertical-wrap">
                        <div class="center-vertical">
                            <div class="ui checkbox">
                                <input type="checkbox" name="email" value='{"email": "{{this.email}}", "id":"{{this.id}}", "fn":"{{this.firstName}}"}'>
                                <label></label>
                            </div>
                        </div>
                    </div>
                {{/unless}}
            {{/unless}}
        {{/unless}}
    {{/if}}
</div>

<div class="column two wide picture">
    <div class="center-vertical-wrap">
        <div class="center-vertical">
            <a href="/candidate/{{id}}">
                <img class="ui small circular image color {{stageToCss idStage}}" src="{{picture}}" onerror="this.src='/assets/img/client-logo.png'"/>
            </a>
        </div>
    </div>
</div>


<div class="four wide column">
    <p><b>{{fullname}}</b></p>
    <p>{{headline}}</p>
    <p><b>{{current}}</b></p>
    <p>{{location}}</p>
</div>

<div class="two wide column candidate-details {{stageToCss idStage}}">
    <p class="{{presenceToCss cvDoumentLink}}">CV</p>
    <p class="{{presenceToCss contacts.email}}">Email</p>
    <p class="{{presenceToCss contacts.phone}}">Phone</p>
    <p class="{{presenceToCss salary}}">Salary</p>
</div>

<div class="two wide column candidate-details {{stageToCss idStage}}">
    <p class="{{presenceToCss cvDoumentLink}}">
        {{#if cvDoumentLink}}
            <i class="checkmark icon"></i>
        {{else}}
            <i class="remove icon"></i>
        {{/if}}
    </p>
    <p class="{{presenceToCss contacts.email}}">
        {{#if contacts.email}}
            <i class="checkmark icon"></i>
        {{else}}
            <i class="remove icon"></i>
        {{/if}}
    </p>
    <p class="{{presenceToCss contacts.phone}}">
        {{#if contacts.phone}}
            <i class="checkmark icon"></i>
        {{else}}
            <i class="remove icon"></i>
        {{/if}}
    </p>
    <p class="{{presenceToCss salary}}">
        {{#if salary}}
            <i class="checkmark icon"></i>
        {{else}}
            <i class="remove icon"></i>
        {{/if}}
    </p>
</div>

<div class="five wide column candidate-status">
    {{# if connectedTo.length }}
    <p>
    Connected To:
    {{#each connectedTo}}
            {{#if this}}
                <a href="/connected/{{encodeKeywordsHelper this}}"><b>{{initials_of_connected_users this}}</b></a>
            {{/if}}
    {{/each}}
    </p>
    {{/if}}

    {{#each statusCurrent}}
        <p>Status: {{generateStatus this ../clients ../stages}}</p>
    {{/each}}

    {{#if clientProfile}}
        <p class="client-employee">Status: <span>Client Employee</span></p>
    {{/if}}


    {{#if emails}}
    <!-- @TODO get some more details here -->
        {{emailIndicatorHelper lastEmail false}}
    {{/if}}

    <!--
    {{#each listSkills}}
        <ul class="skills-inline">
            {{#if this.level}}
                <li class="searched-skills"><span class="skill-level">{{this.level}} </span> {{this.skill}}</li>
            {{else}}
                <li>{{this.skill}}</li>
            {{/if}}
        </ul>
    {{/each}}
    -->
    <!--
    @TODO: Get username and some details here
    {{#if viewedBy.length}}
        <p class="">{{viewedBy.length}}</p>
    {{/if}}
    -->
    <!-- hide it for now, I don't think it's a valuable information to display anyway -->
    <!--
    <aside class="aside aside-2">
        {{#if percentageMatch}}
            <div class="pie">{{percentageMatch}}%</div>
        {{/if}}
    </aside>
    -->

</div>


