<div class="ui row candidate">

{{#unless extended}}
<div class="one wide column">
                    <div class="center-vertical-wrap">
                        <div class="center-vertical">
                            <div class="ui checkbox">
                                <input type="checkbox" name="email" value='{"email": "{{candidate.email}}", "id":"{{candidate.id}}", "fn":"{{candidate.firstName}}"}'>
                                <label></label>
                                <div class="email-details" style="display:none;">
                                    {{>email_form_candidate}}
                                </div>
                            </div>
                        </div>
                    </div>
</div>
{{/unless}}

<div class="column two wide picture">
    <div class="center-vertical-wrap">
        <div class="center-vertical">
            <a href="/candidate/{{candidate.id}}">
                <img class="ui small rounded image color" src="{{candidate.picture}}" onerror="this.src='/assets/img/client-logo.png'"/>
                <div class="stickers">
                    {{#if candidate.jobApplications }}
                        <img class="ui tiny rounded image" src="/assets/img/icons/m.png" alt="" onerror="this.src='/assets/img/client-logo.png'"/>
                    {{/if}}
                    {{#if candidate.emails }}
                        <img class="ui tiny rounded image" src="/assets/img/icons/sourced.png" alt="" onerror="this.src='/assets/img/client-logo.png'"/>
                    {{/if}}
                </div>
            </a>
        </div>
    </div>
</div>

<div class="two wide column media-links">
    <div class="center-vertical-wrap">
    <div class="center-vertical">

    <a href="{{candidate.stackoverflow}}" target="_blank" class="circular ui icon button tiny
    {{#unless candidate.stackoverflow}}
    disabled
    {{/unless}}"><i class="icon orange stack overflow"></i></a>
    
    <a href="https://github.com/{{candidate.github}}" target="_blank" class="circular ui icon button tiny
    {{#unless candidate.github}}
    disabled
    {{/unless}}
    "><i class="icon black github"></i></a>
    
    <a href="{{candidate.url}}" target="_blank" class="li circular ui icon button tiny
    {{#unless candidate.url}}
    disabled
    {{/unless}}
    "><i class="icon blue linkedin"></i></a>

    <a href="http://twitter.com/{{candidate.twitter}}" target="_blank" class="circular ui icon button tiny
    {{#unless candidate.twitter}}
    disabled
    {{/unless}}
    "><i class="icon blue twitter"></i></a>

    <a href="" target="_blank" class="circular ui icon button tiny skype-button-link
    {{#unless candidate.skype}}
    disabled
    {{/unless}}
    "
    {{#if candidate.skype}}
    data-content="{{candidate.skype}}"
    {{/if}}
    ><i class="icon blue skype"></i></a>
    
    <a href="{{candidate.facebook}}" target="_blank" class="circular ui icon button tiny
    {{#unless candidate.facebook}}
    disabled
    {{/unless}}
    "><i class="icon blue facebook"></i></a>

    </div>
    </div>
</div>

<div class="five wide column">
    <div class="center-vertical-wrap">
    <div class="center-vertical">
    <p class="fullname"><b>{{candidate.fullname}}</b></p>
    <p>{{candidate.headline}}</p>
    <p><b>{{candidate.current}}</b></p>
    <p>{{candidate.location}}</p>
    </div>
    </div>
</div>

{{#unless extended}}

<div class="one wide column candidate-details">
    <div class="center-vertical-wrap">
    <div class="center-vertical">
    <p class="{{presenceToCss candidate.cvDocumentLink}}">CV</p>
    <p class="{{presenceToCss candidate.email}}">Email</p>
    <p class="{{presenceToCss candidate.phone}}">Phone</p>
    <p class="{{presenceToCss candidate.info.sexpected}}">Salary</p>
    </div>
    </div>
</div>

<div class="one wide column candidate-details">
    <div class="center-vertical-wrap">
    <div class="center-vertical">
    <p class="{{presenceToCss candidate.cvDocumentLink}}">
    {{#if candidate.cvDocumentLink}}
        <i class="checkmark icon"></i>
    {{else}}
        <i class="remove icon"></i>
    {{/if}}
    </p>
    <p class="{{presenceToCss candidate.email}}">
        {{#if candidate.email}}
            <i class="checkmark icon"></i>
        {{else}}
            <i class="remove icon"></i>
        {{/if}}
    </p>
    <p class="{{presenceToCss candidate.phone}}">
        {{#if candidate.phone}}
            <i class="checkmark icon"></i>
        {{else}}
            <i class="remove icon"></i>
        {{/if}}
    </p>
    <p class="{{presenceToCss candidate.info.sexpected}}">
        {{#if candidate.info.sexpected}}
            <i class="checkmark icon"></i>
        {{else}}
            <i class="remove icon"></i>
        {{/if}}
    </p>
    </div>
    </div>
</div>

{{/unless}}

{{#if extended}}
    <div class="three wide column candidate-details">
        <div class="center-vertical-wrap">
        <div class="center-vertical">
        <p class="{{presenceToCss candidate.cvDocumentLink}}">
            CV:
            {{#if candidate.cvDocumentLink}}
                <a href="{{candidate.cvDocumentLink}}" target="_blank">view</a>
            {{else}}
                N/A
            {{/if}}
        </p>
        <p class="{{presenceToCss candidate.email}}">
        Email:
            {{#if candidate.email}}
                {{candidate.email}}
            {{else}}
                N/A
            {{/if}}
        </p>
        <p class="{{presenceToCss candidate.phone}}">
            Phone:
            {{#if candidate.phone}}
                {{candidate.phone}}
            {{else}}
                N/A
            {{/if}}
        </p>
        <p class="{{presenceToCss candidate.salary}}">
            Salary:
            {{#if candidate.info.sexpected}}
                {{candidate.info.sexpected}}
            {{else}}
                N/A
            {{/if}}
        </p>
        </div>
        </div>
    </div>
{{/if}}

<div class="four wide column candidate-status">
    <div class="center-vertical-wrap">
    <div class="center-vertical">
    <p>
    Connected To:
    {{# if candidate.connectedTo.length }}
    {{#each candidate.connectedTo}}
            {{#if this}}
                <span><b>{{userInitials this}}</b></span>
            {{/if}}
    {{/each}}
    {{else}}
        N/A
    {{/if}}
    </p>

    <p class="stages">Status:
    {{#if candidate.stages.length}}
        {{#each candidate.stages}}
            {{generateStatus this ../clients ../stages}}<span class="comma">,</span>
        {{/each}}
    {{/if}}
    {{#if candidate.clientProfile}}
        <span class="client-employee">Client Employee</span>
    {{/if}}
    {{#unless candidate.clientProfile}}
        {{#unless candidate.stages.length}}
            N/A
        {{/unless}}
    {{/unless}}
    </p>


    <!-- @TODO get some more details here -->
    <p class="email-preview color {{dateToColor candidate.lastEmail.timestamp}}">Last Contacted:
        {{#if candidate.lastEmail.sentAt}}

        <a class="ui color {{dateToColor candidate.lastEmail.timestamp}}" href="" id="emailid{{candidate.id}}" data-content="{{candidate.lastEmail.subject}}, {{candidate.lastEmail.senderName}}"> {{candidate.lastEmail.sentAt}}</a>

        {{else}}
            N/A
        {{/if}}

    </p>

    <p class="last-viewed-by">
    Last Viewed By: 
    {{#if candidate.viewedBy.length}}
        {{#each (lastViewedBy candidate.viewedBy) }}

            <a class="ui" href="" data-content="{{user.fullname}} ({{timestamp_formatted_long}})" id="viewedby{{../candidate.id}}">
            {{#unless @index}}
                {{user.initials}} ({{timestamp_formatted_short}})
            {{/unless}}
            </a>

        {{/each}}

    {{else}}
        N/A
    {{/if}}
    </p>
    </div>
    </div>
</div>

<!-- modals -->

{{#if candidate.viewedBy.length}}
    <div class="ui modal email viewedby{{candidate.id}}">
        <i class="close icon"></i>
        <div class="header">
            Viewed By
        </div>
        <div class="content">
            {{#each (lastViewedBy candidate.viewedBy) }}
                <p>{{user.fullname}} ({{timestamp_formatted_long}})</p>
            {{/each}}
        </div>
        <div class="actions"> <!-- if any actions put them here --> </div>
    </div>
{{/if}}

{{#if candidate.lastEmail.sentAt}}
    <div class="ui modal email emailid{{candidate.id}}">
        <i class="close icon"></i>
        <div class="header">
            {{candidate.lastEmail.subject}}
        </div>
        <div class="content">
            <p class="message">{{candidate.lastEmail.message}}</p>
            <p class="sender">{{candidate.lastEmail.senderName}}</p>
            <p class="sent-at">{{candidate.lastEmail.sentAt}}</p>
        </div>
        <div class="actions"> <!-- if any actions put them here --> </div>
    </div>
{{/if}}

</div>

<div class="six column row skills black">

    {{#if candidate.listSkills.length}}
        {{#each candidate.listSkills}}
            <div class="column
            {{#if matched}}
            matched
            {{/if}}
            ">
                <div class="center-vertical-wrap">
                    <div class="center-vertical">
                        <p> {{skill}} </p>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <!-- to keep the bar always the same size -->
        <div class="column">
            <p style="opacity:0">nth</p>
        </div>
    {{/if}}

</div>


    <!-- hide it for now, I don't think it's a valuable information to display anyway -->
    <!--
    <aside class="aside aside-2">
        {{#if percentageMatch}}
            <div class="pie">{{percentageMatch}}%</div>
        {{/if}}
    </aside>
    -->


