
  <div class="ui container">
    <form action="/email" method="POST">
    <div class="ui grid sticky">
      <div class="ui row filters">

        <div class="twelve wide column">
          <div class="ui checkbox">
            <input type="checkbox" name="example"  id="select-all">
            <label>Select All</label>
          </div>
        </div>

        <div class="four wide column send-email">
          <button id="send-email" type="submit" class="ui animated button">
            <div class="visible content">Send Email</div>
            <div class="hidden content">
              <i class="send icon"></i>
            </div>
          </button>
        </div>

      </div>
    </div>
    <div class="ui grid candidates-list">

      {{#each candidates}}
          {{>candidate candidate=this clients=../clients stages=../stages extended=false}}
      {{/each}}

      <div class="row pagination">
        {{>pagination}}
      </div>

    </div>
    <input type="hidden" class="pathUrl" name="pathUrl" value="{{pathUrl}}">
    </form>

  </div>