<form action="/source" method="POST" class="ui form createlist">
    <div class="ui error message"></div>

    <!-- some lagacy but it's OK to be here until it's display:none; -->
    <div class="ui grid email-form candidates_form">
        <div class="row emails">
        </div>
    </div>

    <div class="field">
        <label>Name</label>
        <input name="name" class="ui input" placeholder="Name">
    </div>
    <div class="field">
        <label>Description</label>
<textarea name="description" placeholder="Description" cols="10" rows="10"></textarea>
    </div>
    <div class="field">
        <label>Folder</label>
        {{>folders_dropdown}}
    </div>

    <div class="row">
        <button class="ui button" type="submit">Send</button>
    </div>
</form>