<div class="dashboard_menu">
  <div class="ui grid">

    <div class="six wide column">
      <div class="ui multiple dropdown candidates">
        <input type="hidden" name="candidate-id-">
        <i class="filter icon"></i>
        <span class="text">Candidates</span>
        <div class="menu">
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search tags...">
          </div>
          <div class="scrolling menu">
            {{#each candidates as |fullname id|}}
              <div class="item" data-value="candidate-id-{{id}}">
                <!-- <div class="ui red empty circular label"></div> -->
                {{fullname}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui multiple dropdown clients">
        <input type="hidden" name="client-id-">
        <i class="filter icon"></i>
        <span class="text">Clients</span>
        <div class="menu">
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search tags...">
          </div>
          <div class="scrolling menu">
            {{#each clients}}
              <div class="item" data-value="client-id-{{id}}">
                <!-- <div class="ui red empty circular label"></div> -->
                {{name}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="six wide column">
      <div class="ui multiple dropdown roles">
        <input type="hidden" name="role-id-">
        <i class="filter icon"></i>
        <span class="text">Roles</span>
        <div class="menu">
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search tags...">
          </div>
          <div class="scrolling menu">
            {{#each myRoles}}
              <div class="item" data-value="role-id-{{id}}">
                <!-- <div class="ui red empty circular label"></div> -->
                {{title}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>