<div class="ui modal sendemail">
    <i class="close icon"></i>
    <div class="header"> Send Email </div>
    <div class="content">

        <div class="ui top attached tabular menu">
            <a class="active item" data-tab="editor">Editor</a>
            <a class="item" data-tab="preview">Preview</a>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="editor">
{{>email_form pathUrl=request.url.path}}
        </div>
        <div class="ui bottom attached tab segment email_preview" data-tab="preview">
<pre class="email_content"></pre>
<div class="email_signature">
{{> email_signature}}
</div>
        </div>

    </div>
    <div class="actions"> 
    <button type="button" class="ui button" value="sendmail">Send</button> 
    <div class="available_variables">
        {{>emails_avaiable_variables}}
    </div>
    </div>
</div>