        <p class="title"> Available Variables: </p>
        <div class="ui accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                Candidate
            </div>
            <div class="content">
                <div class="ui bulleted list">
                    <div class="item">\{{candidate.firstname}} - Candidate's firstname eg. "Jon".</div>
                    <div class="item">\{{candidate.fullname}} - Candidate's fullname eg. "Jon Smith".</div>
                </div>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Client
            </div>
            <div class="content">
                <div class="ui bulleted list">
                    <div class="item">\{{client.name}} - Client's name eg. "Global {M}".</div>
                </div>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Job
            </div>
            <div class="content">
                    <div class="ui bulleted list">
                    <div class="item">\{{job.title}} - Job's tile eg. "Fullstack Developer".</div>
                    <div class="item">\{{job.address.country}} - Office's Country eg. "England / UK".</div>
                    <div class="item">\{{job.address.city}} - Office's city eg. "London".</div>
                    <div class="item">\{{job.employmenttype}} - Job's contract type eg. "Permanent", "Contract" etc.</div>
                </div>
            </div>
        </div>