
<form action="/emails" method="POST" class="ui form sendmail clients_jobs_dropdowns">
    <div class="ui error message"></div>
    <!-- some lagacy, but it's OK until it's display:none; -->
    <div class="row emails"> {{>form_candidate}} </div>
    {{# unless candidate}}
    <div class="ui field">
        <div class="ui grid selected-stats">

            <div class="eight wide column">
                <div class="ui inverted segment color green accepted-emails field" style="display: none;">
                    <span class="counter"> </span> <span class="were" style="display:none;"> candidates</span><span class="was" style="display:none;">candidate</span> will be emailed.
                </div>
            </div>

            <div class="eight wide column">
                <div class="ui segment color red inverted removed-emails field" style="display: none;">
                    <span class="counter"> </span> blacklisted <span class="were" style="display:none;"> candidates were</span><span class="was" style="display:none;">candidate was</span> automatically removed.
                </div>
            </div>
        </div>
    </div>
    {{/unless}}


    <!-- countries -->
    {{#each countries }}
    <div class="template_content country {{_id}}" style="display:none;">{{label}}</div>
    {{/each}}

    <!-- candidate -->
    <div class="template_content candidatefullname" style="display:none;">{{candidate.fullname}}</div>
    <div class="template_content candidatefirstname" style="display:none;">{{candidate.firstName}}</div>
    <!-- countries -->

    <!-- clients -->
    {{#each clientsWithJobs as |c id|}}
    <div class="template_content clientname {{id}}" style="display:none;">{{c.name}}</div>
    {{/each}}
    <!-- jobs -->
    {{#each activeJobs as |j id|}}
    <div class="template_content title {{id}}" style="display:none;">{{j.title}}</div>
    <div class="template_content contracttype {{id}}" style="display:none;">{{j.contractType}}</div>
    <div class="template_content addresscountry {{id}}" style="display:none;">{{j.address.contry}}</div>
    <div class="template_content addresscity {{id}}" style="display:none;">{{j.address.city}}</div>
    {{/each}}

    <div class="field">
        <label>Template:</label>
        <div class="ui fluid search selection dropdown template-selection">
        <input type="hidden" name="template" >
        <i class="dropdown icon"></i>
        <div class="default text">Select Folder</div>
        <div class="menu">
            <div class="item" data-value="">None</div>
<!-- templates -->
{{#each email_templates}}
<div class="template_content subject {{_id}}"  cols="10" rows="10" style="display:none;">{{subject}}</div>
<div class="template_content content {{_id}}"  cols="10" rows="10" style="display:none;">{{content}}</div>
<div class="item" data-value="{{_id}}">{{name}} ({{subject}})</div>
{{/each}}

        </div>
</div>
    </div>
    <div class="two fields">
    {{>clients_jobs_dropdowns}}
    </div>

    <div class="field">
        <label>Subject:</label>
        <input  class="ui input" type="text" name="subject" placeholder="Subject"/>
    </div>
    <div class="field">
        <label>Message:</label>
<textarea name="message" placeholder="Message" cols="10" rows="10">Hi {name},</textarea>
    </div>
    <input hidden name="fn" value="{{request.auth.credentials.user.names.fullname}}">
    <input hidden name="firstname" value="{{request.auth.credentials.user.names.firstname}}">
    <input hidden name="role" value="{{request.auth.credentials.user.role}}">
    <input hidden name="office" value="{{request.auth.credentials.user.phones.office}}">
    <input hidden name="mobile" value="{{request.auth.credentials.user.phones.mobile}}">
    <input hidden name="linkedin" value="{{request.auth.credentials.user.linkedin}}">
    <input hidden name="signature" value='{{> email_signature}}'>
    <!---
    <div class="signature"> {{> email_signature}} </div>
    -->
    <input type="hidden" name="pathUrl" value="{{pathUrl}}">
    <button class="ui button" type="submit" style="display:none;">Send</button>

</form>