<div class="ui modal create_email_template">
    <i class="close icon"></i>
    <div class="header">
        {{#if email_template}}
            Edit Template
        {{else}}
            Create Template
        {{/if}}
     </div>
    <div class="content">
        <form class="ui form" action="/emails/templates/{{email_template._id}}" method="POST">
            <div class="ui error message"></div>
            <div class="field">
                <label>Name:</label>
                <input name="name" class="ui input" placeholder="Name" value="{{email_template.name}}">
            </div>
            <div class="field">
                <label>Subject:</label>
                <input name="subject" class="ui input" placeholder="Subject" value="{{email_template.subject}}">
            </div>
            <div class="field">
                <label>Content:</label>

<!-- break the fold otherwise it doesn't display the email's content correctly -->
<textarea name="content" placeholder="Description" cols="10" rows="10">
{{email_template.content}}
</textarea>
            </div>
            <button type="submit" style="display:none;"></button>
        </form>
        {{>emails_avaiable_variables}}
    </div>
    <div class="actions"> 
    <button type="button" class="ui button confirm">
        {{#if email_template}}
            Update
        {{else}}
            Create
        {{/if}}
    </button> </div>
</div>