        <p class="title"> Available Variables: </p>
        <div class="ui accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                Candidate
            </div>
            <div class="content">
                <div class="ui bulleted list">
                    <div class="item">\{{candidate.firstname}} - Candidate's firstname eg. "Jon".</div>
                    <div class="item">\{{candidate.lastname}} - Candidate's lastname eg. "Smith."</div>
                    <div class="item">\{{candidate.name}} - Candidate's fullname eg. "Smith".</div>
                </div>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Client
            </div>
            <div class="content">
                <div class="ui bulleted list">
                    <div class="item">\{{client.name}} - Client's name eg. "Global {M}".</div>
                    <div class="item">\{{client.country}} - Client's head office country eg. "England / UK".</div>
                    <div class="item">\{{client.city}} - Client's head office city eg. "London".</div>
                    <div class="item">\{{client.address}} - Client's head office full address eg. "89 Worship street, London, UK".</div>
                </div>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Job
            </div>
            <div class="content">
                    <div class="ui bulleted list">
                    <div class="item">\{{job.title}} - Job's tile eg. "Fullstack Developer".</div>
                    <div class="item">\{{job.country}} - Office's Country eg. "England / UK".</div>
                    <div class="item">\{{job.city}} - Office's city eg. "London".</div>
                    <div class="item">\{{job.address}} - Office full address eg. "89 Worship street, London, UK".</div>
                    <div class="item">\{{job.contract}} - Job's contract type eg. "Permanent", "Contract" etc.</div>
                </div>
            </div>
        </div>