
<form action="/email" method="POST" class="ui form sendmail">

<div class="ui grid email-form">
    <div class="ui segment color red removed-emails" style="display: none;">
        <p> <span class="counter"> </span> <span class="were" style="display:none;"> candidates were</span><span class="was" style="display:none;">candidate was</span> automatically filtered by blacklist filter.</p>
    </div>
    <div class="row emails">
        <div class="sixteen wide column">
            {{>form_candidate}}
        </div>
    </div>
    <div class="row">
        <div class="two wide column">
            <img class="ui small circular image" src="/assets/img/team/{{request.auth.credentials.user.idGoogle}}.jpg" onerror="this.src='/assets/img/client-logo.png'"/>
        </div>
        <div class="fourteen wide column">
            <div class="ui input subject"> <input type="text" name="subject" placeholder="Subject"/> </div>
            <textarea name="message" placeholder="Message" cols="10" rows="10">Hi {name},</textarea>
            <input hidden name="fn" value="{{request.auth.credentials.user.names.fullname}}">
            <input hidden name="firstname" value="{{request.auth.credentials.user.names.firstname}}">
            <input hidden name="role" value="{{request.auth.credentials.user.role}}">
            <input hidden name="office" value="{{request.auth.credentials.user.phones.office}}">
            <input hidden name="mobile" value="{{request.auth.credentials.user.phones.mobile}}">
            <input hidden name="linkedin" value="{{request.auth.credentials.user.linkedin}}">
            <input hidden name="signature" value='{{> email_signature}}'>
            <div class="signature"> {{> email_signature}} </div>
            <input type="hidden" name="pathUrl" value="{{pathUrl}}">
            <div class="button-wrap">
            <button class="ui button" type="submit">Send</button>
            </div>
        </div>
    </div>

</div>

</form>