<div class="list_candidats">
<div class="ui grid">
    {{#each userStages}}

        <div class="row stage-{{stageId}} candidate-box-wrap candidate-id-{{candidateId}} role-id-{{jobId}} client-id-{{lookup (lookup ../jobsMap jobId) 'client'}}
        {{stageToCss stageId}}
        {{#if (empty (lookup ../jobsMap jobId))}}
            incomplete
        {{/if}}
        {{#if (empty (lookup ../clientsMap clientId))}}
            incomplete
        {{/if}}
        "
        >
            <div class="two wide column candidate-picture {{stageToCss stageId}}">
                <div class="center-vertical-wrap">
                    <div class="center-vertical">
                        <a href="/candidate/{{candidateId}}">
                            <img class="ui small circular image" src="{{ lookup (lookup ../candidatesMap candidateId) 'picture'}}" alt="" onerror="this.src='/assets/img/client-logo.png'"/>
                            {{#if (lookup (lookup ../candidatesMap candidateId) "emails") }}
                            <div class="sticker">
                                <img src="/assets/img/logo-black.png">
                            </div>
                            {{/if}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="four wide column candidate-name">
                <div class="center-vertical-wrap">
                <div class="center-vertical">
                    <p><b>{{lookup (lookup ../candidatesMap candidateId) 'fullname'}}</b></p>
                    <p>{{lookup (lookup ../candidatesMap candidateId) 'headline'}}</p>
                    <!-- <p><b>{{current}}</b></p> -->
                    <p>{{lookup (lookup ../candidatesMap candidateId) 'location'}}</p>
                </div>
                </div>
            </div>
            <div class="three wide column candidate-details">
                <div class="center-vertical-wrap">
                <div class="center-vertical">
                    <p><b>CV:</b>
                        {{#if (lookup (lookup ../candidatesMap candidateId) 'cvDocumentLink') }}
                            <a href="{{cvDocumentLink}}" target="_blank">view</a>
                        {{else}}
                            N/A
                    {{/if}}
                    </p>
                    <p><b>Email:</b>
                        {{#if (lookup (lookup (lookup ../candidatesMap candidateId) 'contacts') 'email') }}
                            {{lookup (lookup (lookup ../candidatesMap candidateId) 'contacts') 'email'}}
                        {{else}}
                            N/A
                        {{/if}}
                    </p>
                    <p><b>Phone:</b>
                        {{#if (lookup (lookup (lookup ../candidatesMap candidateId) 'contacts') 'phone') }}
                            {{lookup (lookup (lookup ../candidatesMap candidateId) 'contacts') 'phone'}}
                        {{else}}
                            N/A
                        {{/if}}
                    </p>
                <!--
                <p><b>Salary:</b>
                {{#if info.sexpected}}
                    {{info.sexpected}}
                {{else}}
                    N/A
                {{/if}}
                </p>
                -->
                <!-- action buttons -->
                </div>
                </div>

            </div>

            <div class="two wide column client">
                <div class="center-vertical-wrap">
                    <div class="center-vertical">
                        {{#unless (empty (lookup ../clientsMap clientId))}}
                        <a href="/clients/{{clientId}}" data-content="{{lookup (lookup ../clientsMap clientId ) "name" }}" >
                            <img class="ui small image" src="{{lookup (lookup ../clientsMap clientId) "logoUrl"}}" alt="" onerror="this.src='/assets/img/client-logo.png'"/>
                        </a>
                        {{/unless}}
                    </div>
                </div>
            </div>

            
            <div class="two wide column role">
                <div class="center-vertical-wrap">
                <div class="center-vertical">
                    {{#unless (empty (lookup ../jobsMap jobId))}}

                    <a href="/jobs/{{jobId}}"><p>{{lookup (lookup ../jobsMap jobId) "title" }}</p></a>
                    <p>{{lookup (lookup ../jobsMap jobId) "salary" }}</p>
                    <p>{{lookup (lookup (lookup ../jobsMap jobId) "address") "city" }},
                            {{ lookup (lookup ../countries (lookup (lookup (lookup ../jobsMap jobId) "address") "countryID" )) "label" }}</p>
                    {{/unless}}
                </div>
                </div>
            </div>


            <div class="three wide column client">
                <div class="center-vertical-wrap">
                    <div class="center-vertical">
                        {{> stage_action_bar stages =../stages stage=this redirectUrl=../request.url.path candidate=(lookup ../candidatesMap candidateId)}}
                    </div>
                </div>
            </div>

        </div>

    {{/each}}
    </div>
</div>