<div class="ui modal countries">
    <i class="close icon"></i>
    <div class="header"> Select Countries </div>
    <div class="content">
        <form class="ui form">
            <div class="grouped fields">
                <label>Predefined Contries Group</label>
                <div class="field">
                  <div class="ui slider checkbox">
                    <input type="radio" name="country" checked="checked" value="Austria, Belgium, Bulgaria, Croatia, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden, United Kingdom">
                    <label>EU (Austria, Belgium, Bulgaria, Croatia, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden, United Kingdom)</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui slider checkbox">
                    <input type="radio" name="country" value="Russian Federation, Ukraine, Egypt, Georgia, Serbia, Iran, Israel, Belaraus, Kosovo, Kyrgyzstan, Lebanon, Macedonia, Moldova, Turkey">
                    <label>Preferred (Russian Federation, Ukraine, Egypt, Georgia, Serbia, Iran, Israel, Belaraus, Kosovo, Kyrgyzstan, Lebanon, Macedonia, Moldova, Turkey)</label>
                  </div>
                </div>
            </div>
            <button type="submit" style="display:none;"></button>
        </form>
    </div>
    <div class="actions"><button class="ui button ok approve">Select</button></div>
</div>