<header>
  <section class="search">
    <div class="search-form">
      {{>search_links}}
      <form action="/query" method="GET">
        <input name="job" placeholder="Job Title" value="{{headlineValue}}">
        <input name="fullname" placeholder="Name" value="{{fullnameValue}}">
        <input name="location" placeholder="Location" value="{{locationValue}}">
        <input name="current" placeholder="Company" value="{{currentValue}}">
        <input name="skills" placeholder="Skills" value="{{skillsValue}}">
        <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </section>
</header>
