<div class="ui left sidebar vertical menu visible candidate-search">
    <form class="ui form" action="/search" method="GET">
    <div class="item">
        <div class="ui field">
            <input type="text" name="q" value="{{q}}" placeholder="Serach...">
        </div>
    </div>
    <div class="item">
        <p> ONLY SHOW WITH</p>
        <div class="ui fields">
            <div class="ui checkbox six wide column">
              <input type="checkbox" name="req_cv"
              {{#if request.query.req_cv}}
                checked 
              {{/if}}
              >
              <label>CV</label>
            </div>
            <div class="ui checkbox six wide column">
              <input type="checkbox" name="req_email"
              {{#if request.query.req_email}}
                checked 
              {{/if}}
              >
              <label>EMAIL</label>
            </div>
        </div>
        <div class="ui fields">
            <div class="ui checkbox six wide column">
              <input type="checkbox" name="req_phone"
              {{#if request.query.req_phone}}
                checked 
              {{/if}}
              >
              <label>PHONE</label>
            </div>
            <div class="ui checkbox six wide column">
              <input type="checkbox" name="req_salary"
              {{#if request.query.req_salary}}
                checked 
              {{/if}}
              >
              <label>SALARY</label>
            </div>
        </div>

    </div>

    <div class="item buttons">
    <button type="submit" class="ui button">Search</button>
    </div>
    </form> 
    <!--
    <div class="item buttons">
        <div class="ui buttons vertical">
            <button class="ui button">
                Select All
            </button>
            <button class="ui button">
                Send Email
            </button>
        </div>
    </div>
    -->
</div>