<div class="ui left sidebar vertical menu visible candidate-search">

<form class="ui form search">

    <div class="item action_buttons buttons">
        <div class="field">
            <div class="ui buttons horizontal">
                <button type="button" class="ui button select_all disabled" value="sendemail">SELECT</button>
                <button type="button" class="ui button deselect_all disabled" value="createlist">DESELECT</button>
            </div>
        </div>
        <div class="field">
                <button type="button" class="ui button send_email disabled modal-list-candiates" value="sendemail">EMAIL</button>
        </div>
    </div>

</form>


    <!-- keep it here, can't have the form inside another -->
    {{>email_modal}}
</div>