<div class="ui left sidebar vertical menu visible candidate-search">
    <form class="ui form search" action="/search" method="GET">
    <div class="item quick_search">
        <div class="ui field">
            <input type="text" name="q" value="{{request.query.q}}" placeholder="Search...">
        </div>
    </div>

    <div class="item">
        <p> ONLY SHOW WITH</p>
        <div class="ui fields">
            <div class="ui checkbox six wide column">
                <input type="checkbox" name="req_cv"
                {{#if request.query.req_cv}}
                    checked 
                {{/if}}
                >
                <label>CV</label>
            </div>
            <div class="ui checkbox six wide column">
                <input type="checkbox" name="req_email"
                {{#if request.query.req_email}}
                    checked 
                {{/if}}
                >
                <label>EMAIL</label>
            </div>
        </div>
        <div class="ui fields">
            <div class="ui checkbox six wide column">
                <input type="checkbox" name="req_phone"
                {{#if request.query.req_phone}}
                    checked 
                {{/if}}
                >
                <label>PHONE</label>
            </div>
            <div class="ui checkbox six wide column">
                <input type="checkbox" name="req_salary"
                {{#if request.query.req_salary}}
                    checked 
                {{/if}}
                >
                <label>SALARY</label>
            </div>
        </div>
        <div class="ui fields">
            <div class="ui checkbox">
                <input type="checkbox" name="req_sent_application"
                {{#if request.query.req_sent_application}}
                    checked 
                {{/if}}
                >
                <label>WEBSITE APPLICANT</label>
            </div>
        </div>
    </div>

    <div class="item advance_search buttons">
        <p> ADVANCE SEARCH </p>
        <div class="field">
            <input type="text" name="headline" placeholder="Job Title" value="{{request.query.headline}}">
        </div>
        <div class="field">
            <input type="text" name="fullname" placeholder="Name" value="{{request.query.name}}">
        </div>
        <div class="field">
            <input type="text" name="location" placeholder="Location" value="{{request.query.location}}">
        </div>
        <div class="field">
            <input type="text" name="company" placeholder="Company" value="{{request.query.company}}">
        </div>
        <div class="field">
            <input type="text" name="skills" placeholder="Skills" value="{{request.query.skills}}">
        </div>
        <div class="field">
            <input type="text" name="languages" placeholder="Languages" value="{{request.query.languages}}">
        </div>
        <div class="field">
            <button type="button" class="ui button clear disabled">CLEAR</button>
        </div>
    </div>

    <div class="item action_buttons buttons">
        <div class="field">
        <div class="ui buttons horizontal">
            <button type="button" class="ui button select_all" value="sendemail">SELECT</button>
            <button type="button" class="ui button deselect_all disabled" value="createlist">DESELECT</button>

        </div>
        </div>
        <div class="field">
        <div class="ui buttons horizontal">
            <button type="button" class="ui button send_email disabled" value="sendemail">EMAIL</button>
            <button type="button" class="ui button create_list disabled" value="createlist">LIST</button>
        </div>
        </div>
    </div>
    <div class="item buttons">
        <button type="submit" class="ui button disabled">SEARCH</button>
      </button>
    </div>

    <div class="item">
        <div class="ui multiple dropdown connected_to disabled">
        <input type="hidden" name="connected_to">
        <i class="filter icon"></i>
        <span class="text">Connected to</span>
        <div class="menu">
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input type="text" placeholder="Recruiter">
          </div>
          <div class="scrolling menu">
            {{#each users}}
              <div class="item" data-value="{{names.fullname}}">
                {{names.fullname}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    </form>
    <!-- keep it here, can't have the form inside another -->
    {{>email_modal}}
    {{>create_list_modal}}
</div>