<div class="ui left sidebar vertical menu visible candidate-search">
    <form class="ui form search" action="/search" method="GET">
    <div class="item quick_search">
        <div class="ui field">
            <input type="text" name="q" value="{{request.query.q}}" placeholder="Search...">
        </div>
    </div>

    <div class="item">
        <p> ONLY SHOW WITH</p>
        <div class="ui fields">
            <div class="ui checkbox six wide column">
                <input type="checkbox" name="req_cv"
                {{#if request.query.req_cv}}
                    checked 
                {{/if}}
                >
                <label>CV</label>
            </div>
            <div class="ui checkbox six wide column">
                <input type="checkbox" name="req_email"
                {{#if request.query.req_email}}
                    checked 
                {{/if}}
                >
                <label>EMAIL</label>
            </div>
        </div>
        <div class="ui fields">
            <div class="ui checkbox six wide column">
                <input type="checkbox" name="req_phone"
                {{#if request.query.req_phone}}
                    checked 
                {{/if}}
                >
                <label>PHONE</label>
            </div>
            <div class="ui checkbox six wide column">
                <input type="checkbox" name="req_salary"
                {{#if request.query.req_salary}}
                    checked 
                {{/if}}
                >
                <label>SALARY</label>
            </div>
        </div>
        <div class="ui fields">
            <div class="ui checkbox">
                <input type="checkbox" name="req_sent_application"
                {{#if request.query.req_sent_application}}
                    checked 
                {{/if}}
                >
                <label>WEBSITE APPLICANT</label>
            </div>
        </div>
    </div>

    <div class="item advance_search buttons">
        <p> ADVANCE SEARCH </p>
        <div class="field">
            <input type="text" name="headline" placeholder="Job Title" value="{{request.query.headline}}">
        </div>
        <div class="field">
            <input type="text" name="fullname" placeholder="Name" value="{{request.query.fullname}}">
        </div>
        <div class="field">
            <div class="ui action input">
            <input type="text" name="location" placeholder="Location" value="{{request.query.location}}">
              <button type="button" class="ui icon button location" val="countries">
                <i class="icon flag"></i>
              </button>
            </div>
        </div>
        <div class="field">
            <input type="text" name="company" placeholder="Company" value="{{request.query.company}}">
        </div>
        <div class="field">
            <input type="text" name="skills" placeholder="Skills" value="{{request.query.skills}}">
        </div>
        <div class="field">
            <input type="text" name="languages" placeholder="Languages" value="{{request.query.languages}}">
        </div>
        <div class="field">
            <button type="button" class="ui button clear disabled">CLEAR</button>
        </div>
    </div>

    <div class="item action_buttons buttons">
        <div class="field">
        <div class="ui buttons horizontal">
            <button type="button" class="ui button select_all disabled" value="sendemail">SELECT</button>
            <button type="button" class="ui button deselect_all disabled" value="createlist">DESELECT</button>

        </div>
        </div>
        <div class="field">
        <div class="ui buttons horizontal">
            <button type="button" class="ui button send_email disabled modal-list-candiates" value="sendemail">EMAIL</button>
            <button type="button" class="ui button create_list modal-list-candiates disabled" value="createlist">LIST</button>
        </div>
        </div>
    </div>
    <div class="item buttons">
        <div class="ui buttons horizontal">
        <button type="button" class="ui button reset disabled">RESET</button>
        <button type="submit" class="ui button disabled">SEARCH</button>
        </div>
    </div>

    <div class="item">
        <div class="ui multiple dropdown connected_to disabled">
        <input type="hidden" name="connected_to">
        <i class="filter icon"></i>
        <span class="text">Connected to</span>
        <div class="menu">
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input type="text" placeholder="Recruiter">
          </div>
          <div class="scrolling menu">
            {{#each users}}
              <div class="item" data-value="{{names.fullname}}">
                {{names.fullname}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    </form>
    <!-- keep it here, can't have the form inside another -->
    {{>email_modal}}
    {{>create_list_modal}}

    <!-- here comes the temporary popup to select the countries group -->
    <div class="ui modal countries">
        <i class="close icon"></i>
        <div class="header"> Select Countries </div>
        <div class="content">
            <form class="ui form">
              <div class="grouped fields">
                <label>Predefined Contries Group</label>
                <div class="field">
                  <div class="ui slider checkbox">
                    <input type="radio" name="country" checked="checked" value="Austria, Belgium, Bulgaria, Croatia, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden, United Kingdom">
                    <label>EU (Austria, Belgium, Bulgaria, Croatia, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden, United Kingdom)</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui slider checkbox">
                    <input type="radio" name="country" value="Russian Federation, Ukraine, Egypt, Georgia, Serbia, Iran, Israel, Belaraus, Kosovo, Kyrgyzstan, Lebanon, Macedonia, Moldova, Turkey">
                    <label>Preferred (Russian Federation, Ukraine, Egypt, Georgia, Serbia, Iran, Israel, Belaraus, Kosovo, Kyrgyzstan, Lebanon, Macedonia, Moldova, Turkey)</label>
                  </div>
                </div>
              </div>
              <button type="submit" style="display:none;"></button>
            </form>
        </div>
        <div class="actions"><button class="ui button ok approve">Select</button></div>
    </div>


</div>