<form class="ui form cv-upload" action="/cv/upload" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="idCandidate" value="{{candidate.id}}">

    {{#if candidate.cvDocumentLink}}
         <a class="ui button" target="_blank" href="{{candidate.cvDocumentLink}}">
            <i class="eye icon"></i>
            View Resume
        </a>
    {{/if}}

    <label for="input-profile-resume" class="ui icon button file-upload-label"> <i class="file text icon"></i> 
    {{#if candidate.cvDocumentLink}}
        <span class="change-resume">Change Resume</span>
    {{else}}
        <span class="add-resume">Add Resume</span>
    {{/if}}
    </label>

    <input type="file" id="input-profile-resume" name="selectedCv" accept=".pdf,.txt,.yml,.md">
    <button class="ui button disabled" type="submit">
        Upload
        <span class="value"></span>
    </button>

</form>




<div class="ui divider"></div>

<form action="/contact-details" class="ui form li-save-form" method="POST">
    <input type="hidden" name="redirect_url" value="/candidate/{{candidate.id}}">
    <input type="hidden" name="id" value="{{candidate.id}}">
    
    <div class="field">
    <div class="ui input labeled
    {{#if candidate.contacts.email}}
        disabled
    {{/if}}
    ">
        <div class="ui label"> <i class="icon mail"></i> </div>
        <input type="text" name="email" value="{{candidate.email}}">
    </div>
    </div>

    <div class="field">
    <div class="ui input labeled
    {{#if candidate.contacts.phone}}
        disabled
    {{/if}}
    ">
        <div class="ui label"> <i class="icon phone"></i> </div>
        <input type="text" name="phone" value="{{candidate.phone}}">
    </div>
    </div>

    <div class="field">
    <div class="ui input labeled">
        <div class="ui label"> <i class="icon stack overflow"></i> </div>
        <input type="text" name="stackoverflow" value="{{candidate.stackoverflow}}">
    </div>
    </div>

    <div class="field">
    <div class="ui input labeled">
        <div class="ui label"> <i class="icon github"></i> </div>
        <input type="text" name="github" value="{{candidate.github}}">
    </div>
    </div>

    <div class="field">
    <div class="ui input labeled">
        <div class="ui label"> <i class="icon linkedin"></i> </div>
        <input type="text" name="url" value="{{candidate.url}}">
    </div>
    </div>

    <div class="field">
    <div class="ui input labeled">
        <div class="ui label"> <i class="icon twitter"></i> </div>
        <input type="text" name="twitter" value="{{candidate.twitter}}">
    </div>
    </div>

    <div class="field">
    <div class="ui input labeled">
        <div class="ui label"> <i class="icon skype"></i> </div>
        <input type="text" name="skype" value="{{candidate.skype}}">
    </div>
    </div>

    <div class="field">
    <div class="ui input labeled">
        <div class="ui label"> <i class="icon facebook"></i> </div>
        <input type="text" name="facebook" value="{{candidate.facebook}}">
    </div>
    </div>

    <button type="submit" class="ui button">Save</button>
</form>