  <form>
    <label>Salary (current):</label>
    <input type="hidden" class="id-candidate" value="{{candidate.id}}">
    <input type="text" class="scurrent-input" value="{{candidate.info.scurrent}}">
    <label>Salary (expected):</label>
    <input type="text" class="sexpected-input" value="{{candidate.info.sexpected}}">
    <label>Notice period:</label>
    <input type="text" class="notice-input" value="{{candidate.info.notice}}">
    <label>Interested in locations:</label>
    <input type="text" class="locations-input" value="{{candidate.info.locations}}">
    <button id="save-info">Save</button>
  </form>