<form class="ui form" method="POST" action="/info/save">
    <input type="hidden" name="id" value="{{candidate.id}}">
    <input type="hidden" name="redirect_path" value="/candidate/{{candidate.id}}">
    <div class="field">
        <label>Salary (current):</label>
        <input type="text" name="scurrent" placeholder="Salary (current)" value="{{candidate.info.scurrent}}">
    </div>
    <div class="field">
        <label>Salary (expected):</label>
        <input type="text" name="sexpected" placeholder="Salary (expected)" value="{{candidate.info.sexpected}}">
    </div>
    <button class="ui button" type="submit">Save</button>
</form>