{{>navigation-dashboard}}

<div class="dashboard">

<section class="navigation">
  <div class="ui container">
    {{>stages_bar jobs=allJobs}}
    {{>dashboard_menu}}
    {{>list_candidates jobs=allJobs}}
  </div>
</section>

</div>

<div class="new-dash-wrapper" style="display:none;">

  {{#if admin}}
  <div class="dropdown-users">
    <form action="/dashboard/user" method="post" id="load-user-dashboard-form">

      <select class="users" name="user" id="load-user-dashboard-select">
        {{#each users}}
          {{createOptionUser this ../userIdGoogle}}
        {{/each}}
      </select>

      <button type="submit">Load dashboard</button>
    </form>
  </div>
  {{/if}}


</div>
