{{>navigation}}

{{#if list}}

  <div class="dashboards-list">
    <div class="ui container">
      <div class="ui grid">
        {{#each userStages as |u|}}
          <div class="row">
          <div class="two wide ui column">
            <a href="/{{u.user.idGoogle}}">
              <img class="ui small circular image" src="/assets/img/team/{{u.user.idGoogle}}.jpg" onerror="this.src='/assets/img/client-logo.png'"/>
            </a>
          </div>
          <div class="fourteen wide ui column">
            <div class="stages-bar-wrap">
              <div class="stages-bar-wrap-inner">
              {{>stages_bar applications=u.stages stages=../stages user=u.user see_all="All" button_elem="a" usersCallMap=../usersCallMap}}
              </div>
            </div>
          </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

{{else}}

  <div class="dashboard">
    <section class="navigation">
      <div class="ui container">
        {{>stages_bar applications=userStages user=me see_all="See All" button_elem="button"}}
        {{>dashboard_menu}}
        {{>list_candidates jobs=allJobs}}
      </div>
    </section>
  </div>

{{/if}}