{{#if listSearchBar}}
  {{>search_bar_list}}
{{else}}
  {{>search_bar}}
{{/if}}

<div class="home">
  <form action="/email" method="POST">
  <div class="ui container">
    <div class="ui grid candidates-list">
      <div class="ui row">
        <div class="column wide one">
          <div class="ui checkbox">
            <input type="checkbox" name="example"  id="select-all">
            <label>Select All</label>
          </div>
        </div>
      </div>

        {{#each candidates}}
          <div class="ui row candidate">
            {{>candidate clients=../clients stages=../stages}}
          </div>
        {{/each}}

    </div>
  </div>

  <!-- @speedingdeer: I'm not sure what this hidden guy is here for but I'm not brave enough to remove it yet -->
  <input type="hidden" class="pathUrl" name="pathUrl" value="{{pathUrl}}">
  <button id="send-email" type="submit">SEND EMAIL</button>
  </form>
</div>


<input type="hidden" class="keywords" value="{{keywords}}">

{{>pagination}}
