{{>navigation}}



<div class="pusher">
    <div class="ui container source-list">

    <div class="ui segment actions">
        <div class="ui form">
        <div class="three fields">
            <div class="ui field">
                <button class="ui button disabled">CREATE LIST</button>
            </div>
            <div class="ui field">
                <button class="ui button uploadlist">UPLOAD LIST</button>
                {{>csv_modal}}
            </div>
            <div class="ui field">
                <button class="ui button createfolder">CREATE FOLDER</button>
                {{>folder_modal folder=this}}
            </div>
        </div>
        </div>
    </div>

    {{#each (foldersGrid folders) as |row|}}
        <div class="row-grids">

        <div class="ui top attached tabular menu folders">
            {{#each row}}
                <a class="item
                    {{#if @first}}
                        active
                    {{/if}}
                " data-tab="{{_id}}">{{name}}</a>
            {{/each}}
        </div>
    
        {{#each row}}
            <div class="ui bottom attached tab segment
                {{#if @first}}
                    active
                {{/if}}
            " data-tab="{{_id}}">
                {{#unless (equal _id "none")}}
                <div class="ui segment head">
                    {{#if description}}
                    <span>{{description}}</span>
                    {{else}}
                    <span style="opacity:0">empty</span>
                    {{/if}}
                    <i class="ui icon edit middle aligned icon attached right"></i>
                    {{>folder_modal folder=this}}
                </div>
                {{/unless}}
                {{#if lists.length}}
                <div class="ui segment">
                {{#each lists}}
                    <div class="ui relaxed divided list">
                        <div class="item">
                            <!--
                            <i class="large unordered list icon middle aligned icon"></i>
                            -->
                            <div class="content">
                                <div class="header">
                                <a class="" href="/source/{{_id}}">{{name}} ({{candidates.length}})</a>
                                <a class="downlaod" href="/source/csv/{{_id}}"> <i class="large download icon middle aligned icon"></i> </a>
                                </div>
                                <div class="description">{{description}}</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
                </div>
                {{/if}}
            </div>
        {{/each}}

        </div>

    {{/each}}

    </div>
</div>