{{>navigation}}

{{>sidebar_source_list}}

<div class="pusher">
    <div class="ui container source-list">
    

    {{#each (foldersGrid folders) as |row|}}
        <div class="row-grids">


        <div class="ui top attached tabular menu folders">
            {{#each row}}
                <a class="item
                    {{#if @first}}
                        active
                    {{/if}}
                " data-tab="{{_id}}">{{name}}</a>
            {{/each}}
        </div>
    
        {{#each row}}
            <div class="ui bottom attached tab segment
                {{#if @first}}
                    active
                {{/if}}
            " data-tab="{{_id}}">
                {{#unless (equal _id "none")}}
                <div class="ui segment">
                    <form class="ui form" method="POST" action="/folders/{{_id}}">
                      <div class="three fields">
                        <div class="field">
                          <input type="text" name="name" placeholder="Name" value="{{name}}">
                        </div>
                        <div class="field">
                          <textarea rows="2" name="description" placeholder="Description">{{description}}</textarea>
                        </div>
                        <div class="field">
                          <button class="ui button" type="submit">UPDATE</button>
                        </div>
                      </div>
                    </form>
                </div>
                {{/unless}}
                <div class="ui segment">
                {{#each lists}}
                    <div class="ui relaxed divided list">
                        <div class="item">
                            <!--
                            <i class="large unordered list icon middle aligned icon"></i>
                            -->
                            <div class="content">
                                <div class="header">
                                <a class="" href="/source/{{_id}}">{{name}} ({{candidates.length}})</a>
                                <a class="downlaod" href="/source/csv/{{_id}}"> <i class="large download icon middle aligned icon"></i> </a>
                                </div>
                                <div class="description">{{description}}</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
                </div>
            </div>
        {{/each}}

        </div>

    {{/each}}

    </div>
</div>