div.candidates-list {
    div.row.filters {
        div.column.send-email { text-align: right; }
        margin-bottom: -2rem;
    }
    div.row.candidate {
        margin-bottom: 1rem;
        margin-top: 2rem;
        div.column p { margin-bottom: 5px; }
        div.media-links { 
            text-align: center; 
        }
        div.column.candidate-status {
            span.client-employee { color: $RED; }
            span.email-subject, span.email-message, span.email-sender-name {
                display: none;
            }
        }
        div.column.check-icons { padding-left: 0px; }
        p.stages {
            span.comma:last-child { display: none; }
        }
    }
    div.row.skills {
        text-align: center;
        padding-bottom: 0px;
        padding-top: 0px;
        font-family: 'blenderpro';
        border-radius: $border_radius;
        div.column {
            padding: 6px;
            text-transform: uppercase;
            &.matched {
                color: $GREEN;
            }
        }
    }
}

// @TODO: this one should come from a body / general layout
div.home { padding-bottom: 20px; }