div.container.candidate {

    div.grid.action-buttons {
        margin-top: 20px;
        margin-bottom: 10px;
        span.label { cursor: default; }
        .column {
          .button { 
            width: 100%;
            padding: 15px;
          }
          padding-left: 5px;
          padding-right: 5px;
          form.log-call {
            button { @include transition(all 1s); }
          }
          &:first-child { padding-left: 0px; }
          &:last-child { padding-right: 0px; }
        }
    }

    .menu .item { cursor: pointer; }
    // clean up
    .row.candidate { margin-bottom: 0px; }
    .row.skills { margin-bottom: 0px; }

    .candidates-stages-list .row {
      padding: 5px;
      text-transform: uppercase;
      border-radius: $border_radius;
      .column.client { text-align: center; img { max-width: 50px; } }
      .column { 
        text-align: center; 
        a { color: $WHITE; }
      }
      .stage-actions-wrap {
        // button { padding: 8px; }
      }
    }
    .tab.skills .label { margin-bottom: 10px; }
    form.cv-upload {
      .file-upload-label { width: 180px; }
      input[type="file"] {
        visibility: hidden;
        height: 0px;
        padding: 0px;
        margin: 0px;
        display: block;
        width: 0px;
        float: left;
      }
    }
    form.li-save-form { .labeled .label i { margin: 0; } }
}

//@TODO: not a great place for that but it works
.modal.sendemail { p span.fullname { display: none; } }
.modal.createlist { p span.email { display: none; } }

.modal.sendemail, .modal.createlist {
  form { 
    &.appendtolist, &.createlist {
      .email-form { margin-bottom: 5px; }
    }
    button[type="submit"] { display: none; }
  }
  .actions { text-align: right; }
}