// some values copied over from the main css file to parameterized the whole thing and keep colors consistent 

.last-email-30 {
  color: $RED;
}

.last-email-90 {
  color: $YELLOW;
}

.last-email-regular {
  color: $GREEN;
}

i.send > span {
  float: right !important;
  padding-left: 5px;
  font-size: 0.8em;
}

div.container.candidate {
    div.row.candidate {
        padding-bottom: 10px;
    }
    div.row.action-buttons {
        margin-top: 10px;
    }
}