div.candidates-list {
    div.row.filters {
        div.column.send-email { text-align: right; }
    }
    div.row.candidate {
        div.column p { margin-bottom: 5px; }
        div.column.candidate-status {
            span.client-employee { color: $RED; }
            span.email-subject, span.email-message, span.email-sender-name {
                display: none;
            }
        }
        p.stages {
            span.comma:last-child { display: none; }
        }
    }
    div.row.skills {
        text-align: center;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 5px;
        margin-bottom: 30px;
        font-family: 'blenderpro';
        div.column {
            padding: 8px;
            text-transform: capitalize;
            &.matched {
                color: $GREEN;
            }
        }
    }
}

// @TODO: this one should come from a body / general layout
div.home { padding-bottom: 20px; }