div.dashboard {
    div.stages-bar {
        width: 100%;
        text-align: center;
        .button.inactive { opacity: .5; }
        .calls-counter { margin-left: 20px; }
    }
    div.dashboard_menu {
        margin-top: 40px;
        margin-bottom: 10px;
        .menu { text-align: center; }
        div.column.action-title {
            padding-left: 0px;
            margin-left: 0px;
        }
    }
    div.list_candidats {
        opacity: 0;
        &.ready { opacity: 1; }
        .stickers {
            bottom: 19px;
            right: 31px;
        }

        .candidate-box-wrap.row {
            border-radius: $border_radius;
            margin-bottom: 8px;
            &.incomplete {
                opacity: 0.5;
            }
            /** This are some Semantic-UI modification - should be rather cusomised in the build */
            padding-top: 0px;
            padding-bottom: 0px;
            .column {
                border-radius: $border_radius;
                padding-top: 0.6rem;
                padding-bottom: 0.6rem;
                margin-top: 0px;
                margin-bottom: 0px;
            }
            /***********************************************************************************/

            .column p { margin-bottom: 5px; }
            .column.candidate-picture {
                img {
                    display: inline-block;
                    max-width: 100px;
                }
            }
            .column.candidate-name { padding-left: 0px; }
            .column.candidate-details { }
            .stage-actions-wrap {
                width: 100%;
                .stage-actions.buttons {
                    margin-top: 6px;
                    button { 
                        padding: 3px;
                    }
                }
            }
        }
        .column  a { color: $WHITE; }
    }
}