div.dashboard {
    section.navigation {
        div.stages-bar {
            width: 100%;
            text-align: center;
            .button.inactive { opacity: .5; }
        }
        div.dashboard_menu {
            margin-top: 40px;
            .menu { text-align: center; }
            margin-bottom: 40px;
        }
    }
}