.modal.sendemail {
    .available_variables {
        width: 100%;
        text-align: left;
    }
}

form.sendmail, form.createlist, form.appendtolist, form.removeselected {
    .segment span.counter { text-transform: capitalize; }
    .ui.grid.selected-stats .segment { height: 100%; }
    .row.emails {
        padding: 1rem 1.5rem;
        p:last-child .emails-comma { display: none; }
        p { margin: 0; }
        display: none;
    }
}