div.ui.container.emails_job {
    .row.buttons {
        margin-bottom: 10px;
        text-align: center;
        a { display: inline-block; }
    }
    .emails_job_progress {
        margin-bottom: 40px;
    }
}