/**
* We are not sharing variables between Semantic-UI framework and the app itslef. Semantic-UI supports LESS only.
*/

$TABLET_BREAK: 768px; // Semantic-UI
$border_radius: .28571429rem;
// fonts

@font-face {
    font-family: 'blenderpro';
    src: url('/assets/fonts/blenderpro.ttf');
}

i.icon.custom {
    background-position: center !important;
    background-repeat: no-repeat !important;;
    background-size: contain !important;;
}

body { background-color: $LIGHT_GREY; }