#navbar {
    img, img.ui.image.circular { max-width: 30px; }
    .dropdown.bars img { margin-right: 20px; }
    .item { padding: 10px 0; }
}

.popup.search-form {
    input { min-width: 60% !important; }
    form { 
        min-width: 500px; 
        text-align: left;
    }
}