#navbar {
    .dropdown.bars img { margin-right: 20px; }
    .item { padding: 10px 0;
        &:before { display: none !important; }
    }
    a.item { font-family: 'blenderpro' }
}

.popup.search-form {
    input { 
        min-width: 60% !important;
    }
    input, button { font-family: 'blenderpro' !important; }
    form {
        min-width: 500px; 
        text-align: left;
    }
}