#navbar.ui.menu.fixed {
    img { width: 28px; }
    .item { padding: 0;
        &:before { display: none !important; }
    }
    a.item { font-family: 'blenderpro' }
    div.item.search { cursor: pointer; } // always hoverable
}

.popup.search-form {
    input {  min-width: 60% !important; }
    input, button { font-family: 'blenderpro' !important; }
    form {
        min-width: 500px; 
        text-align: left;
    }
}