div.container.source-list {
    .ui.bottom.attached.tab.segment {
        margin-bottom: 1rem;
        .ui.segment { 
            margin: 0 0 .5rem 0;
            form .fields { margin-bottom: 0; }
        }
    }
}

div.container.source-item {

}