div.container.source-list {
    .ui.segment.actions {
        .fields { 
            margin-bottom: 0;
            text-align: center;
        }
    }
    .ui.bottom.attached.tab.segment {
        margin-bottom: 1rem;
        .ui.segment { 
            margin: 0 0 .5rem 0;
            form .fields { margin-bottom: 0; }
            &.head {
                text-align: center;
                span { opacity: 0.8; }
                i {
                    float: right;
                    padding: 0;
                    cursor: pointer;
                }
            }
        }
    }
}

div.container.source-item {

}